#landingPageHeader{
    width: 100%;
    padding-top: 13px;
    background-color: white; 
  
    }
  

      .navbar-wrapper {
        width: inherit;
        background-color:  #e4dede;
       position: relative; 
      z-index: 1000;    
      }
  
      .navbar {
        background-color: white; /* Set your desired navbar background color */
        height: 60px; /* Set the height to your preference */
        z-index: 2000;
        width: inherit; /* Set the width to your preference */
        transform: translateY(-50%);  /*Vertically center the navbar 
        
      }
  
      .navbar .navbar-brand {
        color: #fff; /* Set your desired brand color */
      }
  
      .navbar .navbar-toggler-icon {
        background-color: #fff; /* Set your desired hamburger icon color */
      }
  
      .navbar-nav .nav-link {
        color: #333; /* Set your desired link color */
      }
  
     .navbar #navbarNav ul li a {
        color: black;
        font-size: large;
        font-weight: bolder;
      }
      .navbar #imgDiv div img{
        height: 55px;
      }
      .navbar #imgDiv{
        display: flex;
      }

      .navbar h4{
        padding-top: 13px;
        font-weight: bolder;
        color: rgba(255, 0, 0,0.5);
    } 

    @media (max-width: 1000px) {
      .navbar #imgDiv div img{
        height: 45px;
      }
      .navbar h4{
padding-left: 10px;
         font-size: medium;
         margin-right:10px;
    } 
    }