.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  position: relative;
}

/* The div that slides down */
#slideDownDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  z-index: 10; /* A higher value than the below component */
  display: none; /* Hide by default */
}
#straight{
width: 20px;
height: 200px;
background-color:gold;
z-index: 20;
}
#straight #h5{
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  position: relative;
  color: white;
  top: 130px;
  font-size: small;
  font-weight: bold;
}




